{% extends "base.html.twig" %}

{% block title %}
    accueil
{% endblock %}

{% block body %}

    <h1> Nos produits phares</h1>
    <div class="row">
        {% for p in products %}
            <div class="col">
                {% include "product/_product_card.html.twig" %}
            </div>
        {% endfor %}
    </div>

    <hr>
    <h2>Un service irréprochable</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore officia placeat quae quibusdam suscipit,
        voluptate?

    </p>

    <div class="row">
        {% include "shared/_assurance.html.twig" with {
            'color':'primary',
            'icon':'fas fa-truck',
            'text': 'lorem15'
        } %}

        {% include "shared/_assurance.html.twig" with {
            'color':'success',
            'icon':'fas fa-check',
            'text': 'lorem15'
        } %}

        {% include "shared/_assurance.html.twig" with {
            'color':'warning',
            'icon':'fas fa-lock',
            'text': 'lorem15'
        } %}
    </div>

{% endblock %}